<h2> Lista de Empregados </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th> Nome </th>
            <th> Sobrenome </th>
            <th> E-mail </th>
            <th> Ações </th>
        </tr>
    </thead>    
    <tbody>
        <tr *ngFor = "let employee of employees"> 
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId }} </td>
            <td> 
                <button (click)="updateEmployee(employee.id)" class="btn btn-info"> Atualizar</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px"> Excluir </button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px"> Visualizar </button>
            </td>
        </tr>
    </tbody>

</table>